.header {
  background-color: $white;
  border-bottom: 1px solid $white-smoke;
  height: 70px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;

  &__container {
    height: 70px;
    max-width: 1000px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--logo {
      width: 134px;
    }
  }
}

 @media screen and (max-width: 425px) {
   .navbar {
     display: none;
   }
   .buttonMenu {
     display: flex;
   }
 }