.header {
  background-color: $white;
  border-bottom: 1px solid $white-smoke;
  height: 60px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;

  &__container {
    height: 60px;
    max-width: 1000px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &--logo {
      width: 134px;
    }
  }
}

.buttonlogut {
  display: flex;
  align-items: center;
  img {
    width: 20px;
    filter: saturate(0.1);
    color: $white-smoke;
    opacity: 0.5;
    cursor: pointer;
  }
}

 @media screen and (max-width: 425px) {
   .navbar {
     display: none;
   }
   .buttonlogut {
     display: flex;
   }
 }