.headernavuser {
  height: 45px;
  display: flex;
  align-items: center;
  &__name {
    span {
      color: $text-light;
      font-size: 12px;
      strong {
        font-weight: 500;
      }
    }
  }
  &__image {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 55px;
    overflow: hidden;
    border: 1px solid $white-smoke;
    padding: 1px;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  &__defaultImage {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 55px;
    border: 1px solid $white-smoke;
    background-color: $white-smoke;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: $text-light;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 425px) {
  .headernavuser {
    position: relative;
    right: -50px;
    &__name {
      display: none;
    }
  }
}