// Colors
$primary: #FF3636;
$secondary: #ffdfdf;
$title: #000000;
$text: #333333;
$text-light: #858585;
$white-smoke: #F5F5F5;
$white: #FFFFFF;

// Shadow
$shadow: 0px -1.5px 75px -5.5px #e0e0e0;

//Texts
$text-size: 16px;